html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
    text-align: center;
}

.wrapper:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.clock-wrapper {
    color: #F8F8F8;
    display: inline-block;
    vertical-align: middle;

    font-family: 'PT Mono' ,'Consolas', Serif;
    font-size: 10vmax;
    font-weight: 600;

    text-shadow:
      9px  9px 0 #000,
     -3px -3px 0 #000,
      3px -3px 0 #000,
     -3px  3px 0 #000,
      3px  3px 0 #000;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.footer img {
  float: right;
  margin-right: 1.2%;
  margin-bottom: 1.2%;
  max-width: 64px;
  min-width: 32px;
  width: 10vmin;
  height: auto;
  transition: .3s all;
  opacity: 0.15;
}


.footer img:hover {
  transform: translateY(-5%);
  cursor: pointer;
  opacity: 1;
}
