body,
html {
  height: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  width: 100%;

  overflow: auto;
  text-align: center;
  transition: 1s all;
  background: radial-gradient(circle, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
}

  .wrapper:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

.clock-wrapper {
  display: inline-block;
  vertical-align: middle;

  color: #F8F8F8;
  font-family: 'PT Mono' ,'Consolas', Serif;
  font-weight: 600;
}

  .clock-hex {
    font-size: 120px;

    text-shadow:
      7px  7px 0 #000,
     -3px -3px 0 #000,
      3px -3px 0 #000,
     -3px  3px 0 #000,
      3px  3px 0 #000;

}

  .clock-digital {
    font-size: 40px;

    text-shadow:
      3px  3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
     -1px  1px 0 #000,
      1px  1px 0 #000;
  }

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

  .footer img {
    float: right;

    margin-right: 1.2%;
    margin-bottom: 1.2%;

    max-width: 64px;
    min-width: 35px;
    width: 10vmin;
    height: auto;

    transition:
      .3s transform,
      .3s margin,
      .3s opacity;
    opacity: 0.12;
  }

    .footer img:hover {
      transform: translateY(-5%);
      cursor: pointer;
      opacity: 1;
    }

@media (max-width: 800px) {
  .clock-hex {
    font-size: 15vw;
  }

  .clock-digital {
    font-size: 5vw;
  }

  .footer img {
    margin-right: 2%;
    margin-bottom: 2%;
  }
}
